# Config file for PalettePacker

# Remove '#' from lines to load them into the config
# Commented lines will be set to default values
# Must be in root directory to be loaded
# Paths are relative to the main project directory

PaletteOutputFile=project_name/Content/Palettes/Output.png
MapOutputFile=project_name/Content/Palettes/Output.palette
PaletteWidth=4
MaxPaletteHeight=256
TopPadding=1
