# Config file for SpriteAtlasPacker

# Remove '#' from lines to load them into the config
# Commented lines will be set to default values
# Must be in root directory to be loaded
# Paths are relative to the main project directory

AtlasOutputFile=project_name/Content/Atlases/Output.png
MapOutputFile=project_name/Content/Atlases/Output.atlas
AtlasMaxWidth=4096
AtlasMaxHeight=4096
Padding=1
IsPowerOfTwo=false
IsSquare=false
RecurseSubdirectories=true
OriginX=0.5
OriginY=0.5
CreateAnimations=true
FrameRate=8
OutputLua=false