# Config file for AtlasPacker

# Remove '#' from lines to load them into the config
# Commented lines will be set to default values
# Must be in root directory to be loaded
# Paths are relative to the main project directory

OutputImage:project_name/Content/Atlases/Output.png
OutputMap:project_name/Content/Atlases/Output.atlas
MaxWidth:4096
MaxHeight:4096
Padding:1
PowerOfTwo:false
Square=false
OriginX=0.5
OriginY=0.7
CreateAnimations=true
FrameRate=8
OutputLua=false