# Nez.Packer Example Configuration 

### Instructions
- Copy this config to the root folder of a collection of images
- Rename as desired, just keep .config extension
- Replace Outputs with paths/names relative to project directory.
- Add additional optional configurations : ```field=value```
- Refer to the desired Packable for available configurations.
- Pass absolute path of .config to Nez.Packer to pack.

----------  

```[Required]```  
OutputImage=project_name/Content/Atlases/Example.png  
```[Optional]```   
OutputMap=project_name/Content/Atlases/Example.atlas 
...

### Notes
-----------


